recursive-include tests  *.glade *.py
recursive-include doc *
recursive-include examples *
recursive-include gazpacho-plugin *.py *.png *.xml AUTHORS COPYING
recursive-include glade *.glade
include AUTHORS
include ChangeLog
include COPYING
include MANIFEST.in
include README
include tools/epyrun
