recursive-include tests *
recursive-exclude tests *.pyc *.pyo
recursive-include doc Makefile howto.tex *.txt  *.tmpl *.eps *.png *.dia
recursive-include examples *
recursive-include data/glade *
recursive-include data/kiwiwidgets/glade-plugin *.png
recursive-include po *.po kiwi.pot POTFILES.list
recursive-include debian *
include debian/changelog debian/clean debian/compat debian/control
include debian/copyright debian/pydist-overrides debian/rules debian/watch
include AUTHORS
include COPYING
include MANIFEST.in
include README
include NEWS
include kiwi.spec
include data/kiwiwidgets/kiwiwidgets.xml
include data/kiwiwidgets/kiwiwidgets.py
include requirements.txt
