Source: kiwi
Section: python
Priority: optional
Maintainer: Ronaldo Francisco Maia <romaia@async.com.br>
Build-Depends: cdbs (>= 0.4.43), debhelper (>= 5.0.37.2), python, python-setuptools (>= 0.6b3-1~), python-support (>= 0.3)
Build-Depends-Indep: python-dev (>= 2.5), python-gtk2 (>= 2.16.0), libgtk2.0-0 (>= 2.20.0), pkg-config, gettext, intltool
Standards-Version: 3.8.3

Package: python-kiwi
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}, python-gtk2 (>= 2.16.0), libgtk2.0-0 (>= 2.20.0), python-setuptools (>= 0.6b3-1)
Replaces: kiwi
Description: a graphical framework to construct simple UI
 Kiwi is a framework and a set of enhanced PyGTK widgets designed to
 make building programs with graphical interfaces both easy to write
 and easy to maintain.
 .
 Kiwi consists of a set of classes and wrappers for PyGTK that were
 developed to provide a sort of framework for applications. Fully
 object-oriented, and roughly Smalltalk's MVC, Kiwi provides a simple,
 practical way to build forms, windows and widgets that transparently
 access and display your object data.
 .
 Kiwi is inspired by Allen Holub's Visual Proxy.
 .
  Homepage: http://www.async.com.br/projects/kiwi/
